@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
}

/* =========================
   SCROLL REVEAL
========================= */

.reveal {
  opacity: 0;
  transform: translateY(35px);

  transition:
    opacity 0.8s ease,
    transform 0.8s ease;

  will-change: opacity, transform;
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
}

/* =========================
   SCROLLBAR
========================= */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* =========================
   TEXT SELECTION
========================= */

::selection {
  background: white;
  color: black;
}